.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: flex-start;
  margin-top: 42px;
}

.list-title {
  font-family: "Nunito", sans-serif;
  color: #000000;
  font-size: 24px;
  align-self: flex-start;
  font-weight: 700;
}
