input[type="date"] {
  padding: 10px 16px;
  border-radius: 12px;
  border: 2px solid rgba(60, 134, 244, 0.6);
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  position: relative;
}

input[type="date"]:focus {
  outline: none;
  border: 2px solid #3c86f4;
}

.tag-date-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 18px;
}

.tag-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  font-size: 12px;
  font-family: "Nunito", sans-serif;
}

.modal-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 92px;
  gap: 10px;
}

.cancel-button {
  background-color: #ffffff;
  padding: 16px 78px;
  transition: all 0.3s ease-in-out;
}

.cancel-button:focus {
  outline: none;
  background-color: #3c86f4;
  color: #ffffff;
}

.modal-title {
  font-family: "Nunito", sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 38px;
}

.add-button {
  background: #d3d3d3;
  padding: 16px 78px;
  color: #ffffff;
  transition: background 0.6s ease-in-out;
}

.add-button-active {
  outline-color: #1d1d1d;
  background: #3c86f4;
}

#modal-input {
  width: 100%;
}

input[type="radio"] {
  display: none;
}

::-webkit-calendar-picker-indicator {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

@media only screen and (min-width: 1080px) {
  .cancel-button:hover {
    background-color: #3c86f4;
    color: #ffffff;
  }
}
